.text-justify {
  text-align: justify !important;
}
.discount {
  width: 100%;
  height: 27px;
}
.rooms-img {
  height: 201px !important;
  width: 302px !important;
  object-fit: cover;
}
.hotels-img {
  height: 255px !important;
}
.swiper {
  width: 90% !important;
  height: 100%;
}
.personalNumber {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.personalNumber:hover {
  background-color: rgb(169, 169, 169) !important;
  color: white !important;
}

.navbar-title {
  font-size: 13px;
}
.card-ticket,
.card-notification {
  max-height: 305px !important;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: transparent transparent !important;
}

.users-box span {
  font-size: 11px;
}

.user-name-companion button:hover {
  background: transparent !important;
  color: black !important;
  cursor: default;
}
.modal-close-btn {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.modal-close-btn:hover {
  border: 2px solid rgb(188, 8, 8) !important;
  color: rgb(188, 8, 8) !important;
}
@media screen and (max-width: 457px) {
  .user-box-companion ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .user-box-companion ul li {
    margin: 14px 0;
  }
}
@media screen and (min-width: 750px) {
  .card-hotels {
    height: 150px !important;
  }
  .addres-hotel-info {
    position: relative;
    top: 16px;
    right: 0;
  }
}
@media screen and (max-width: 974px) {
  .addres-read-only {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 55px;
    width: 100% !important;
  }
}
@media screen and (max-width: 764px) {
  .add-companion-btn {
    justify-content: space-around;
  }
  .add-companion-btn:last-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 750px) {
  .view-btn {
    display: flex;
    justify-content: center;
  }
  .view-btn button {
    width: 75%;
  }

  .add-companion-btn {
    flex-direction: column;
    align-items: center !important;
  }
  .add-companion-btn button {
    padding: 8px 48px !important;
    margin-bottom: 16px;
  }
  .add-companion-btn .add-blue-btn {
    padding: 8px 58px !important;
  }

  .hotel-info-companion li {
    width: 100% !important;
    margin: 23px 0;
  }
}
@media screen and (max-width: 556px) {
  .user-box-companion {
    flex-direction: column;
    align-items: center !important;
  }
}
/* ---------------NEW------------- */
.people-list li {
  font-size: 12px !important;
}
.people-list:first-child {
  position: relative;
  top: 16px;
}
.people-modal-list {
  height: 265px;
  overflow-y: auto;
}
@media screen and (max-width: 360px) {
  .people-icon {
    display: flex;
    justify-content: center !important;
  }
}
@media screen and (max-width: 478px) {
  .people-modal-list ul li {
    flex-direction: column !important;
  }
}
/* ---------------MR Rahimi---------------------- */
.description-section .text-desc {
  line-height: 28px;
  text-align: justify;
}
.left-slider .slick-list .slick-track .slick-slide .sidebar-image {
  height: 160px;
}
.left-slider .slick-list .slick-track .slick-slide video,
.left-slider .slick-list .slick-track .slick-slide img {
  height: 100%;
  -webkit-filter: grayscale(20%) blur(1px);
  filter: grayscale(20%) blur(1px);
  opacity: 0.8;
}
.left-slider .slick-list .slick-track .slick-slide + .slick-slide {
  margin-top: 15px;
}
.left-slider .slick-list .slick-track .slick-slide.slick-current video,
.left-slider .slick-list .slick-track .slick-slide.slick-current img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  opacity: 1;
  -webkit-box-shadow: 0 0 8px rgba(34, 34, 34, 0.16);
  box-shadow: 0 0 8px rgba(34, 34, 34, 0.16);
}
.left-slider-image {
  height: 750px;
  overflow: hidden;
}
.gallery-main .slider-image {
  height: 750px;
}
.gallery-main .slider-image img {
  width: 100%;
}

.gallery-main .slider-image video {
  width: 100%;
  height: 100%;
}
.sidebar-image video {
  height: 100%;
  width: 100%;
}
.slider-image {
  position: relative;
}
.slider-image .icon-play {
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 1400px) {
  .left-slider .slick-list .slick-track .slick-slide .sidebar-image {
    height: 170px;
    width: 230px;
  }
  .left-slider .slick-list .slick-track .slick-slide + .slick-slide {
    margin: 0;
    margin-top: 15px;
  }
  .left-slider .slick-list .slick-track .slick-slide img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .left-slider .slick-list .slick-track .slick-slide .sidebar-image {
    height: 110px;
    width: 140px;
  }
  .left-slider .slick-list .slick-track .slick-slide + .slick-slide {
    margin: 0;
    margin-top: 15px;
  }
  .left-slider .slick-list .slick-track .slick-slide img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .left-slider .slick-list .slick-track .slick-slide .sidebar-image {
    height: 80px;
    width: 100px;
  }
  .left-slider .slick-list .slick-track .slick-slide + .slick-slide {
    margin: 0;
    margin-top: 15px;
  }
  .left-slider .slick-list .slick-track .slick-slide img {
    width: 100%;
  }
}

.gallery-section .left-slider-image .sidebar-image {
  border-radius: 8px;
  overflow: hidden;
}
.left-slider-image .slick-vertical .slick-slide {
  margin-bottom: 20px;
}

[dir="rtl"] .slick-slider {
  direction: ltr;
}
[dir="rtl"] .slick-slide {
  float: left;
}
.order-xxl-1 {
  order: 1 !important;
}
